.input-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.text-input-container {
  position: relative;
  width: fit-content;
}

.text-input {
  font-size: 1.2rem;
  height: 2.5rem;
  width: 200px;
}

.text-input::placeholder {
  font-family: 'Sixtyfour', sans-serif;
  font-size: 0.75rem;
}

.color-input-container {
  gap: 0.5rem;
}

.color-input {
  border: none;
  cursor: pointer;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
}

.color-input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-input::-webkit-color-swatch {
  border: 2px solid #fff;
  border-radius: 4px;
}

.color-input::-moz-color-swatch {
  border: 2px solid #fff;
  border-radius: 4px;
}

.toggle-input-container {
  cursor: pointer;
}

.toggle-input {
  cursor: inherit;
  accent-color: #fff;
}

.input-label {
  cursor: inherit;
  font-size: 1.2rem;
}

.text-input-label {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

@media (max-width: 480px) {
  .text-input-label {
    white-space: normal;
    width: max-content;
    max-width: 80vw;
  }
  .input-label {
    font-size: 1rem;
  }
}
