.button {
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-transform: lowercase;
  transition: transform 0.1s ease;
}

.button:hover {
  transform: scale(1.02);
}

.button:active {
  transform: scale(0.98);
}

.button-primary {
  background-color: transparent;
  color: rgb(50, 255, 73);
}

.button-secondary {
  background-color: transparent;
}

@keyframes colorShift {
  0% {
    color: rgb(255, 0, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  100% {
    color: rgb(255, 0, 0);
  }
}

.button-funky {
  background-color: transparent;
  font-size: 0.8rem;
  text-decoration: underline;

  /* Animate between colors. */
  transition: color 0.3s ease;
  animation-name: colorShift;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (max-width: 480px) {
  .button {
    font-size: 1.5rem;
  }
  .button-funky {
    font-size: 0.7rem;
  }
}
