#root {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header-group {
  margin-bottom: 4rem;
}

.main-header {
  margin-bottom: 0;
}

.radio-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}