#root {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-header {
  margin: 0;
}

.color-input-group {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

@media (max-width: 480px) {
  .color-input-group {
    margin-top: 3rem;
  }
  .main-header {
    font-size: 1.8rem;
  }
}

.radio-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.color-squares {
  display: flex;
  gap: 1rem;
}

.color-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.color-square-text {
  color: rgba(255, 255, 255, 0.87);
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.raw-color {
  background-color: #61dafb;
  height: 150px;
  width: 150px;
}

.recolored-with-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
}

.react-svg {
  height: 100%;
  width: 100%;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.result-text {
  margin: 0;
  word-break: break-word;
  max-width: 800px;
}

.error-text {
  color: #ff6b6b;
  margin: 0;
}
